.canvas {
  height: 95%;
  width: 100%;
  background-color: #e1e1e1;
  position: relative;
  overflow: hidden;
}

.line {
  stroke: #444;
  stroke-width: 2;
}

.line:hover {
  stroke-width: 3;
  stroke: black;
}
