.nodeContainer {
  height: 5%;
  width: 100%; 
  position: absolute;
  left: 0;
  display: flex;
  justify-content: space-evenly;
}

.node {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.7);
  position: relative;
}

.node:hover {
  box-shadow: 0px 0px 0px 1px black;
}

.nodeLoop:hover {
  fill: purple;
}