.container {
  width: 48vw;
  height: 91vh;
  border: 1px solid grey;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
}

/* @media (max-width: 1200px) {
  .container {
    height: 46vh;
    width: 95vw;
  }
} */